body {
	background: url('../goodlyenterprise/goodly-enterprise.png');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'VT323', monospace;
	text-align: center;
    
}


#container {
	background: white; 
    margin: auto;
    width: 360px;
    padding: 1px;
    border-radius: 5px

}
}

h1 {
	font-size: 20px;
	
    
}

h2 {
	font-size: 15px;
	
}

h3 {
	font-size: 13px;
	color: black;
}
a{
	color: #69D2E7; 
	text-decoration: none;
	font-size: 13px;
}

#copy { position: absolute; bottom: 1px; right: 400px; }
#main { position: absolute; right: 10px; bottom: 10px; }